html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
html {
	height: 100%;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.radioButton{
	display: flex;
	flex-direction: column;

}
.form{
	display: flex;
	flex-direction: column;
    align-items: center;
    position: fixed;
    top: 30%;
    left: 45%;

}
.login{
	display: flex;
	flex-direction: column;
	align-items: center;


}
body{

    max-width: 100%;
    overflow: hidden;


}
input[type=text]{
	margin-bottom: 10px;
	border: 1px solid #101526;
	background: #0F1320;
	color: white;
	border-radius: 5px;
	height: 20px;
	width: 300px;
}
input[type=password]{
	margin-bottom: 10px;
	border: 1px solid #101526;
	background: #0F1320;
	color: white;
	border-radius: 5px;
	height: 20px;
	width: 300px;

}
input[type=submit]{

	border: 1px solid #22A75D;
	background: #22A75D;
	color: #FFFFFF;
	border-radius: 50px;
	font-style: normal;
	font-weight: bold;
	font-size: 15px;
	height: 30px;
	width: 300px;
	margin-top: 10px;
	cursor: pointer;

}
h1{
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: #FFFFFF;
	margin-bottom: 10px;

}

.checkbox{
	display: flex;
	flex-direction: row;
	align-items: baseline;
}
h6{
	font-style: normal;
	font-weight: bold;
	font-size: 13px;
	color: #FFFFFF;
}
